<div class="row">
    <div class="container form-signin" align="center">
        <h1 class="h1">{{'LOGIN_msg' | translate }}</h1>
        <form class="form-horizontal" name="form" role="form">
            <div class="col-sm-offset-4 col-sm-4">
                <div class="input-group" ng-class="{'has-error': form.email.$dirty && form.email.$error.required}">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input type="email" id="email" placeholder="Enter email" name="email" class="form-control" ng-model="$ctrl.user.email" required>
                    <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">
                        Email is required</span>
                </div>
                <div class="input-group " ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" ng-model="$ctrl.user.password"
                        required>
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">
                        Password is required</span>
                </div>
                <br>
                <div class="btn-group" align="center">
                    <button type="submit" class="btn btn-primary btn-md " id="Ok" ng-click="$ctrl.submit(); checked=true">{{'SUBMIT_btn' | translate}} </button>
                    <button type="submit" class="btn btn-danger btn-md" id="Ok2" ui-sref="registration">{{'SIGNUP_btn' | translate}}</button>
                </div>
                <div  class="col-sm-offset-2 col-sm-10 btn-group">
                    <div>
                        <h3>
                            <strong id="alert">{{$ctrl.error}}</strong>
                        </h3>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>