<div>
    <h1 align="center">Everything I Own: My {{$ctrl.data.length}} Things</h1>

    <!-- Add item -->

    <div class="addItemPanel">
        <button type="button" class="btn btn-default btn-sm" align="left" ng-click="showpanel=true" ng-hide="showme">
            <span class="glyphicon glyphicon-plus"></span>Add item</button>
        <h3 ng-show="showpanel">Add item</h3>
        <form ng-show="showpanel">Item name
            <input ng-model="$ctrl.newItem.name"> Item description
            <textarea rows="1" cols="50" ng-model="$ctrl.newItem.description"></textarea>
            <button ngf-select ng-model="$ctrl.newImage">Select</button>
            <button type="submit" ng-click="$ctrl.saveItem()">Add</button>
            <input type="reset" value="Cancel" ng-click="showpanel=false">
        </form>
    </div>

    <!-- List of items -->
    <div class = "grid-container">
        <rch-item ng-repeat="item in $ctrl.data track by $index" item="item" $ctrl ="$ctrl" $index = "$index"></rch-item>
        <!-- <rch-test></rch-test> -->
    </div>
   

</div>