<div class="list-group-item col-xs-4" align="center">
    <p>{{"No"+ [$parent.$index + 1]}}</p>
    <img ng-src="{{$ctrl.item.imageUrl}}" alt="itemImage" class="itemImage" />
    <br>
    <br>
    <h4 class="title" ng-hide="showme">
        <strong>{{$ctrl.item.name}}</strong>
    </h4>
    <p ng-hide="showme">
        <em>{{$ctrl.item.description}}</em>
    </p>
    <!-- Edit button -->
    <button type="submit" ng-click="$ctrl.onEdit(item,$index); showme=true" ng-hide="showme">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <!-- Delete mode -->
    <button type="submit" ng-click="$ctrl.onDelete($index)" ng-hide="showme">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <!-- Edit mode -->
    <div>
        <form class="form-horizontal" ng-show="showme">
            <!-- <h3 class="col-sm-offset-2 col-sm-10">Add new item</h3> -->
            <div class="form-group">
                <label class="control-label col-sm-4" for="pwd">Item name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="pwd" placeholder="Enter name of item" name="itemName" 
                    ng-model="$ctrl.item.name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="pwd">Item description</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="pwd" placeholder="Enter description of item" name="pwd" ng-model="$ctrl.item.description">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <button type="submit" ng-click="$ctrl.onUpdate($index); showme=false" ng-show="showme">Save</button>
                    <button type="button" ng-click="$ctrl.onCancel(item,$index); showme=false" ng-show="showme">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>