<div class="thumbnail">
    <div class="container-fluid list">
        <div>
            <div>
                <a>
                    <img class="img-responsive itemImage" ng-src="{{$ctrl.item.imageUrl}}" alt="itemImage" />
                </a>
            </div>
        </div>
        <div>
            <h4>
                <strong>{{$ctrl.item.name}}</strong>
            </h4>
            <p class="a">
                {{$ctrl.item.description}}
            </p>
        </div>
        <div class="btn-group edit">
            <!-- Edit button -->
            <button type="submit" class="btn btn-default btn-xs" ng-click="$ctrl.onEdit(item,$index)">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <!-- Delete button -->
            <button type="submit" class="btn btn-default btn-xs" ng-click="$ctrl.onDelete($index)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>
</div>