<html ng-app="rechi">
<script src="scripts/vendor.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="styles/vendor.css">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<script src="scripts/main.js"></script>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="bg-1">
  <!-- <div ng-controller="MainController as $main" ng-style="{'background-image': 'url({{$main.backgroundImage}})'}"> -->
  <div ng-controller="MainController as $main">
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top"> -->
    <nav class="navbar navbar-light navbar-fixed-top" style="background:white" >
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <h3><span class="glyphicon glyphicon-align-justify" style="color:black"></span></h3>
          </button>
          <a ui-sref="logIn">
            <h2>
              <b>ITEMS</b>
            </h2>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="btn" id="en" ng-click="$main.changeLanguage('en')">
                <h4>EN</h4>
              </a>
            </li>
            <li>
              <a class="btn" id="ukr" ng-click="$main.changeLanguage('uk')">
                <h4>UA</h4>
              </a>
            </li>
            <li>
              <a class="btn" ui-sref="logIn" ng-click="$main.logOut()">
                <span style="color:black" class="glyphicon glyphicon-log-out"></span>
                <h4>{{'LOGOUT_btn' | translate}}</h4>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
    <ui-view></ui-view>
  </div>
</body>

</html>