 html {
    height: 100%;    
    /* background: url("https://ae01.alicdn.com/kf/HTB1xCW.KVXXXXXFaXXXq6xXFXXXy/50mm-Rhodium-tone-Flat-Head-Pins-eye-pins-studs-beads-Needle-components-earring-Agulhas-crafts-Dangle.jpg") */
    top no-repeat;
    background-color: white;
    margin: auto;
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.027);
    padding: 10px;
}

body{
  width: 100%;
  /* background: url("https://ae01.alicdn.com/kf/HTB1xCW.KVXXXXXFaXXXq6xXFXXXy/50mm-Rhodium-tone-Flat-Head-Pins-eye-pins-studs-beads-Needle-components-earring-Agulhas-crafts-Dangle.jpg") */
  /* top no-repeat; */
}

.navik{
  margin: auto;
  width: 80%;
}

.perfect-centering {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

  .itemImage {
    width:100px; 
    height:100px;
    border-radius: 1%;
    opacity: 0.85;
    float: left;
    margin-right: 10px;
  }
  .itemImage:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

 .list{
  background-color: rgba(255, 255, 255, 0.87);
  margin: 10px 10px 10px 10px;
  overflow: auto;
  border-radius: 2%;
  border: 2px solid #ddd;
}





