

.grid-container {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-gap: 15px;
    background-color: whitesmoke;
    padding: 10px;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
    
  }
  .grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding:20px 0;
    font-size: 20px;
    border: 1px solid #c3c3c3;
    align-items: center
  }

  .addItemPanel {
    margin-left: 50px;
    vertical-align: middle;
  }


/* ul li {
    width:20em;
    float:left;
    list-style-type: none;
    margin: 10;
    padding: 10;
    }

#p {
    background-color:whitesmoke 
}
        
#title {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

#o {
    margin: 2;
    padding: 0.1;
}

#itemId {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: left;
} */