 html {
    margin: 10px;
    padding: 10px;
}

body{
  font: 15px sans-serif;
  color: black;
  line-height: 4;
  padding-top: 70px;
  margin: 10px;
}

.h1 {
font-size: 5rem;
 color:rgb(51, 53, 54);
}

.bg-1{
  background: url("http://res.cloudinary.com/tania/image/upload/c_limit,w_1352/v1516987650/pexels-photo-270640_htxnbs.jpg") top no-repeat;
}

.form-signin {
  padding: 15px;
  margin: 90 auto;
  border: 2px solid #ddd;
  background-color: rgba(255, 255, 255, 0.178);
}

.itemImage {
    width:240px; 
    height:200px !important;
    float: left ;
    padding: 5px 5px 5px 5px ; 
    margin: 10 10 10 10;
  }  

   .itemImage:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

 .list{
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
}

.edit {
  display:flex;    
  align-items:flex-start;
  float: right;
}

.search {
  width: 250px;
  float: right;
}

p.a {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(47, 47, 53);
  font-size: 12px;
  text-align: justify; 
  padding: 5 10 10 10;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(47, 47, 53);
  font-size: 17px;
  text-align: center; 
}



